<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neuedu.mapper.InspectionRequestMapper">
	<!-- 更新检验项目状态 -->
	<update id="updateItemState">
		UPDATE inspection_request SET inspection_state=#{state} where id=#{id}
	</update>

	<!-- 根据患者id和状态查询检验项目 -->
	<select id="getCheckByRegisterIdAndState" resultType="map">
		SELECT i.id, m.tech_name item_name, tech_format item_format,
			tech_price item_price, tech_type item_type,i.creation_time item_create_time 
			FROM medical_technology m, inspection_request i
			WHERE m.id = i.medical_technology_id
				<if test="registerId!=null">
			   		and register_id=#{registerId,jdbcType=INTEGER}
			   	</if>
			   	<if test="state!=null and state!='' ">
			   		and inspection_state=#{state,jdbcType=VARCHAR}
			   	</if>
	</select>
	
</mapper>
