<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neuedu.mapper.RegistLevelMapper">
	<!-- 获得最大病历号 -->
	<select id="getRegistLevelList" resultType="map">
		SELECT * FROM regist_level
	</select>
</mapper>
